@charset "utf-8";
/* CSS Document */
body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
h1, h2, h3{
font-family: 'Anton', sans-serif;	
	
	font-size: 7em;
	color: #feec44;
	margin: 0;
	 line-height: 1.1;
	
	
}
p{
	font-family: 'Roboto', sans-serif;
	color: #6630FF;
	transition-duration: 0.5s;
	font-size: 25px;
	
}

a{
	font-size: 25px;
	font-family: 'Anton', sans-serif;
	color: #6630FF;
	transition-duration: 0.5s;
	text-decoration: none;
	
}

/*Hamburger Navi*/
.main-nav{
	position: absolute;
	
	height: 100%;
	width: 30%;
	background-color: rgba(254,236,68,0.95);
right:0;
	transition-duration: 0.5s;
	overflow-x: hidden;
	opacity: 0;
	z-index: -1;
	
}

.main-nav.active-main-nav{
		right: 0%;
	opacity: 100%;
	z-index: 100;
	transition-duration: 1s;
	
	
}
.main-nav ul{
	list-style: none;
text-align: center;
padding: 0;
	top: 50%;
	transform: translate(0, -50%);
	transform-origin: center;
	position: relative;

	
}
.main-nav a{
	text-decoration: none;
	font-size: 2.5em;
	border-bottom-color: rgba(0,0,0,0.00);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	
}

.main-nav a:hover{
	border-bottom-color: #6630FF;
	

}
.main-nav li{

		margin-bottom: 50px;
}

.ham{
	cursor: pointer;
	position: absolute;
	width: 45px;
  height: 45px;
right: 5%;
	top: 10%;
	z-index: 100;
}
.ham span{
	position: absolute;
	width: 100%;
  height: 6px;
  background-color: #feec44;
 transition-duration: 0.5s;
	

}

.ham span.active-nav-span{
	background-color: #6630FF;
transition-duration: 0.5s;	
}
.span1 {
  top: 0px;
	transform-origin: center;
	transform: rotate(0deg);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;

}

.span2 {
  top: 12px;
	transform-origin: center;
	transform: rotate(0deg);
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

.span3 {
  top: 24px;
	transform-origin: center;
	transform: rotate(0deg);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.span1.active1{
	top: 12px;
	
	transform-origin: center;
	transform: rotate(-45deg);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	
}
.span2.active2{
	
	width: 0px;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}
.span3.active3{
	top: 12px;
	
	transform-origin: center;
	transform: rotate(45deg);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	
}

.navi-background{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
	
}
.navi-background.active-back{
	transition-duration: 0.5s;
	z-index: 5;
	background-color: rgba(106,106,106,0.62);
}

.polyoben{
	background: #feec44;
	width: 100%;
	height: 15%;
	position:fixed;
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}
.polyunten{
	background: #feec44;
	width: 100%;
	height: 15%;
	bottom: 0;
	position: fixed;
z-index: 1;
clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

.polyunten_resp{
	background: #feec44;
	width: 100%;
	height: 50%;
	bottom: 0;
	position: absolute;
z-index: 1;
clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
	display: none;
}



.logo{
	position: absolute;
	z-index: 2;
	padding-left: 10%;
	padding-top: 2%;
	
}
.logo img{
	width: 200px;
	height: auto;
	transition-duration: 0.5s;
}
.logo.smalllogo img{
	width: 100px;
	height: auto;
	transition-duration: 0.5s;
}
#fullpage{
		
}


.sec1{
	background:url("../bilder/laura_trans.png");
	background-color: #6630FF;

	position: absolute;
	z-index: 8;
}


.hero_cta{
	position: absolute;
 bottom: 4%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	
	
}
.cta{
	text-align: center;
	transform-origin: center;
	color:#6630FF;
	display: flex;
	opacity: 1;
	transition: 1s;

	text-decoration: none;
}
.pfeil:after{
	content: '';
	width: 30px;
	height: 30px;
	border-right: solid 2px #6630FF;
	border-bottom: solid 2px #6630FF;
	position: absolute;
			left: 50%;
	margin-top: 10px;
	transform: translate(-50%,-50%) rotate(45deg);
	transform-origin: center;
		opacity: 1;
	transition: 1s;
	
}

.cta.opacity{
	opacity: 0;
	transition: 1s;
	cursor: default;
	pointer-events: none;
}
.pfeil.opacity{
	opacity: 0;
	transition: 1s;
	cursor: default;
	pointer-events: none;
}


.sec2{
	background: url("../bilder/eva_trans.png");
	background-color: #FF6969;
	position: absolute;
	z-index: 7;
	

}
.section .fade-con{
	opacity: 0;
	transition: all 1s ease-in;
position: relative;
	z-index: 2;

}

.section.active .fade-con{
	opacity: 1;

	transition: all 1s ease-in;
	
}

.sec3 {
	background: url("../bilder/tim_trans.png");
	background-color: #369FFF;
position: absolute;
	z-index: 6;

}

.sec4{
	
	background-color: #6630FF;
	position: absolute;
	z-index: 5;
}

.sec5{

	background-color: #FF6969;
	position: absolute;
	z-index: 4;
}

.sec6 {

	background-color: #369FFF;
	position: absolute;
	z-index: 3;
}

.sec7{
		background-color: #6630FF;
position: absolute;
	z-index: 2;

}

.sec8{
	background-color: #feec44;
	position: absolute;
	z-index: 1;
}

.sec404{
	background: url("../bilder/laura_404.png");
		background-color: #6630FF;
position: absolute;
	z-index: 2;

}

.display{
	opacity: 0;
	transition-duration: 0.5s;
	z-index: 0;
}

.background{
	 background-repeat: no-repeat;
	background-position: 90% 20%;
	background-size: contain;
	 
}

.button {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #feec44;
	text-decoration: none;
	box-shadow: -10px 10px 10px rgba(0,0,0,0.1);
	color: #6630FF;
	 border: 1px solid #feec44;
	transition-duration: 0.5s;
	position: relative;
	z-index: 10;
	

}

.button:hover{
	background-color: #6630FF;
	color: #feec44;
	border: 1px solid #feec44;
	transition-duration: 0.5s;
}

.second_button {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color:  none;
	text-decoration: none;
	box-shadow: -10px 10px 10px rgba(0,0,0,0.1);
	color: #feec44;
	 border: 1px solid #feec44;
	transition-duration: 0.5s;
	margin-left: 10px;

}
.second_button:hover{
	background-color: #feec44;
	color: #6630FF;
	border: 1px solid #6630FF;
	transition-duration: 0.5s;
}

.btn_container{
	margin-top: 25px;
	
}
.flex-btn{
	display: flex;
	flex-direction: row;
	position: relative;
	
}

.teaser_para {
	
	font-size: 30px;
	color: #feec44;
	margin-top: 10px;
	margin-bottom: 0px;
}


.product_para {

	font-size: 30px;
	color: #feec44;
	margin-top: 10px;
	margin-bottom: 0px;
	width: 70%;
}


.side-navi{
	position: absolute;
	z-index: 2;
	list-style: none;
	transform-origin: center;
	top: 50%;
	transform: translate(50%, -50%);
	opacity: 0;
	transition: 1s;
	cursor: default;
	pointer-events: none;
}

.side-navi.opacity-nav{
	opacity: 1;
	transition: 1s;
	cursor:alias;
	pointer-events:all;
}

.navi-test{
	width: 40px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	transform-origin: center;
	transform: scale(1);
	transition: .3s;
	
}

.navi-test:hover{
	transform: scale(1.7);
	transition: .3s;
	
}
.nav1{
	transform: scale(1);
	transition: .3s;
	
}
.nav1.activ-nav, .nav2.activ-nav, .nav3.activ-nav, .nav4.activ-nav, .nav5.activ-nav, .nav6.activ-nav, .nav7.activ-nav, .nav8.activ-nav {
	transform: scale(1.7);
	transition: .3s;
	
}



.flex-container{
	display: flex;
	flex-direction: row;
	height: 100%;
	position: relative;
	
}

.product-img-container img{
	height: 100%;
	width: auto;
	transform: translateX(-60%);
}
.product-img-container{
	display: flex;
	width: 30%;
}

.extra {
	position: absolute;
	top: 30%;
	background-color: #feec44;
	
	display: inline-flex;
	z-index: 4;
	padding: 10px;
	transform: translate(140px, 30px);
}
.bio{
	background-color: none;
		position: absolute;
	top: 30%;
	height: 100px;
	
	display: inline-flex;
	z-index: 4;
	
	transform: translate(170px, 50px);
}
.extra h3{
	margin: 0;
	margin-left: 10px;
	color: #6630FF;
	font-size: 20px
}
.fa-bolt{
	color: #6630FF;
	font-size: 20px
	
}
.flex-text{
	display: flex;
	flex-direction: column;
	     justify-content: center;
	width: 70%;
	
}

.text-padding-left{
	padding-left: 15%;
	transition-duration: 0.5s;
	position: relative;
	z-index: 3;
	
}
.dose-img{
	position: relative;
	z-index: 2;
}
.vertical-center{
	top: 50%;
	position: relative;
	transform-origin: center;
	transform: translate(0, -50%);
		transition-duration: 0.5s;
}

/*************Kontakt***************/
.kontakt-con{
	display: flex;
	flex-direction: row;
	text-align: center;
	
}
.kontakt-con h2{
	color: #6630FF;
}
.instagram-con{
	width: 50%;
	justify-content: center;
margin-left: 10%;
}

.instagram-con img{
 width: 100%;
	transition-duration: .5s;
}

.instagram-con img:hover{
transform: scale(1.1);
	transition-duration: .5s;
}
.kontakt-insta-grid{
	display: grid;
  grid-template-columns: repeat(3,20%);  /* 3 columns */
  grid-template-rows: repeat(2,); /* 2 rows  */
  grid-gap:30px 30px;
	   justify-content:center;
	margin-top: 20px;
	margin-bottom: 20px;

}

.adresse-con{
	width: 50%;
	margin-right: 10%;
}

.kontakt-flex-child .button{
	background-color: #6630FF;
	color: #feec44;
}
.kontakt-flex-child .button:hover{
	background-color: #feec44;
	color: #6630FF;
	border-color: #6630FF;
}


.kontakt-flex-child{
	margin-top: 10%;
}

.footer{
	position: absolute;
	display: flex;
	flex-direction: row;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	transform-origin: center;
}
.footer p{
	margin: 0;
}

/******************Minor Breakpoint*********************/
@media (max-width: 1550px){
	.vertical-center{
	top: 60%;
		transition-duration: 0.5s;
}
	.main-nav{
		
		width: 30%;
	}
	
	h2, h1{
		font-size: 5em;
	}
}
/******************First Major Breakpoint Landscape ****************/
@media (max-width: 1024px) and (orientation: landscape){
	
	.hero_cta a{
		font-size: 18px;
	}
	
	.main-nav{
		
		width: 50%;
	}
	
	.side-navi{
		display: none;
	}
	
.text-padding-left{
	padding-left: 5%;
	transition-duration: 0.5s;
	padding-right: 5%;
}
	h2, h1 {
		font-size: 70px;
		transition-duration: 0.5s;
	}
	
	.product_para {
transition-duration: 0.5s;
	font-size: 20px;
}
	p{
		font-size: 20px;
		transition-duration: 0.5s;
	}
	.flex-btn{

	flex-direction: row;
}
	
	.second_button{
		
		
		padding-left: 20px;
		padding-right: 20px;
		width: 200px;
		text-align: center;
		transition-duration: 0.5s;
		
		
	}
	.button{
		margin-left: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: 200px;
		text-align: center;
		transition-duration: 0.5s;
	
	}
	.logo img{
	width: 150px;
	transition-duration: 0.5s;
}
}

/********************First Major Breakpoint Portrait********************/
	@media (max-width: 1024px) and (orientation: portrait){
		
		
	.main-nav{
		
		width: 50%;
	}
		
		.side-navi{
		display: none;
	}
	
.text-padding-left{
	padding-left: 5%;
	transition-duration: 0.5s;
	padding-right: 5%;
}
	h2, h1 {
		font-size: 70px;
		transition-duration: 0.5s;
	}
	
	.product_para {
transition-duration: 0.5s;
	font-size: 20px;
}
	p{
		font-size: 20px;
		transition-duration: 0.5s;
	}
	.flex-btn{

	flex-direction: row;
}
	
	.second_button{
		
		
		padding-left: 20px;
		padding-right: 20px;
		width: 200px;
		text-align: center;
		transition-duration: 0.5s;
		
		
	}
	.button{
		margin-left: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: 200px;
		text-align: center;
		transition-duration: 0.5s;
	
	}
	.logo img{
	width: 150px;
	transition-duration: 0.5s;
}
		.extra {
	
	transform: translate(-50px, 400px);
}
		
		
	.kontakt-con{
		flex-direction: column;
	}
	.instagram-con{
	width: 100%;
		margin-left: 0;
	}
	.adresse-con{
		width: 100%;
		margin-right: 0;
	}
	.kontakt-con.vertical-center{
		top: 50%;
	}
	.kontakt-flex-child{
	margin-top: 0;
}	
	.background{
	
	background-position: 30% 0%;
	background-size: cover;
	 
}
}

/******************Minor Breakpoint**************/
@media (max-width: 968px){
	.main-nav{
		
		width: 80%;
	}

	
	.main-nav a{
	
	font-size: 1.5em;
}
	.hero_cta a{
		font-size: 18px;
	}

}
	
/******************Second Major Breakpoint**************/
@media (max-width: 686px){
	.ham{

right: 5%;
	top: 80%;
	}
	.ham span{

  background-color: #6630FF;
	}
	
	
	
		.pfeil:after{
	
	width: 20px;
	height: 20px;
	}
	.hero_cta a{
		font-size: 13px;
	}
	
		.flex-btn{
	
	flex-direction: row;
}
		.background{
	
	background-position: 30% 20%;
	background-size: contain;
	 
}
	
	.second_button{
		margin-left: 10px;
		margin-top: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: 200px;
		text-align: center;
		transition-duration: 0.5s;
		background-color: #feec44;
		color: #6630FF;
		border-color: #6630FF;
		
	}
	.button{
		margin-left: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: 200px;
		text-align: center;
		transition-duration: 0.5s;
		background-color: #6630FF;
		color: #feec44;
	}
	
	a{
		font-size: 15px;
	}
	
	.extra {
	transition-duration: 0.5s;
	transform: translate(290px, 150px);
}
	.bio{
	transition-duration: 0.5s;
	top: 30%;
	height: 50px;
	
	
	transform: translate(350px, 90px);
}
	
	
	.logo img{
	width: 100px;
	transition-duration: 0.5s;
}
	
	
	
	.flex-container{
	
	flex-direction: column-reverse;
	
	
}
	
	
	.vertical-center{
	top: 75%;
		transition-duration: 0.5s;
}
	
	
	
	.flex-text{
		width: 100%;
		height: 50%;
	}
	
	.product-img-container{
		width: 100%;
		height: 50%;
	}
	.product-img-container img{
	height: 100%;
	width: auto;
	transform: translate(60%, 15%) scale(1.9);
	
}
	.product_para, .teaser_para, h1, h2{
		color: #6630FF;
		z-index: 3;
		position: relative;
		
	}
	h1, h2{
		font-size: 40px;
	}
	.polyoben, .polyunten{
		display: none;
	}
	.polyunten_resp{
		display: block;
	}
		
}
	
	
/*****************************Minor mobile Breakpoints*************/
@media (max-width: 500px){
.product_para, .teaser_para, p {
transition-duration: 0.5s;
	font-size: 17px;
}
	.flex-btn{
	
	flex-direction: column;
}
	.second_button{
		margin-left: 0;
		margin-top: 5px;
		width: 150px;
		
}
	.button{
		width: 150px;
	}
	
	.bio{
	
	top: 30%;
	height: 30px;
	
	transition-duration: 0.5s;
	transform: translate(170px, 90px);
}
	
	.extra {
	transition-duration: 0.5s;
	transform: translate(170px, 120px);
}
	.extra h3{
	
	font-size: 14px
}
	.fa-bolt{
	
	font-size: 14px
	
}
	.product-img-container img{
	
	transform: translate(40%, 15%) scale(1.5);
	
}
	.sec7 .product-img-container img{
	
	transform: translate(40%, 15%) scale(1.8);
	
}
	

}

@media (max-width: 400px){
	
.product_para, .teaser_para {
transition-duration: 0.5s;
	font-size: 13px;
}
	
h1, h2 {
		font-size: 30px;
	}
	
		.product-img-container img{
	
	transform: translate(30%, 15%) scale(1.5);
	
}
		.sec7 .product-img-container img{
	
	transform: translate(30%, 15%) scale(1.8);
	
}
	
}


























