@charset "utf-8";
/* CSS Document */
body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
h1, h2, h3{
font-family: 'Anton', sans-serif;	
	
	font-size: 100px;
	color: #feec44;
	margin: 0;
	 line-height: 1.1;
	
	
}
p{
	font-family: 'Roboto', sans-serif;
	color: #6630FF;
	transition-duration: 0.5s;
	
}

a{
	font-size: 25px;
	font-family: 'Anton', sans-serif;
	color: #6630FF;
	transition-duration: 0.5s;
	
}



.polyoben{
	background: #feec44;
	width: 100%;
	height: 15%;
	position:fixed;
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}
.polyunten{
	background: #feec44;
	width: 100%;
	height: 15%;
	bottom: 0;
	position: fixed;
z-index: 1;
clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

.polyunten_resp{
	background: #feec44;
	width: 100%;
	height: 50%;
	bottom: 0;
	position: absolute;
z-index: 1;
clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
	display: none;
}



.logo{
	position: absolute;
	z-index: 2;
	padding-left: 10%;
	padding-top: 2%;
	
}
.logo img{
	width: 200px;
	height: auto;
	transition-duration: 0.5s;
}
#fullpage{
		
}


.sec1{
	background:url("../bilder/laura_trans.png");
	background-color: #6630FF;

	position: absolute;
}


.hero_cta{
	position: absolute;
 bottom: 4%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	
	
}
.cta{
	text-align: center;
	transform-origin: center;
	color:#6630FF;
	display: flex;
	opacity: 1;
	transition: 1s;

	text-decoration: none;
}
.pfeil:after{
	content: '';
	width: 30px;
	height: 30px;
	border-right: solid 2px #6630FF;
	border-bottom: solid 2px #6630FF;
	position: absolute;
			left: 50%;
	margin-top: 10px;
	transform: translate(-50%,-50%) rotate(45deg);
	transform-origin: center;
		opacity: 1;
	transition: 1s;
	
}

.cta.opacity{
	opacity: 0;
	transition: 1s;
	cursor: default;
	pointer-events: none;
}
.pfeil.opacity{
	opacity: 0;
	transition: 1s;
	cursor: default;
	pointer-events: none;
}


.sec2{
	background: url("../bilder/eva_trans.png");
	background-color: #FF6969;
	
	

}
.section .fade-con{
	opacity: 0;
	transition: all 1s ease-in;

	position: relative;
	z-index: 3;
}

.section.active .fade-con{
	opacity: 1;

	transition: all 1s ease-in;
	
}

.sec3 {
	background: url("../bilder/tim_trans.png");
	background-color: #369FFF;


}

.sec4{
	
	background-color: #6630FF;
}

.sec5{

	background-color: #FF6969;
}

.sec6 {

	background-color: #369FFF;
}

.sec7{
		background-color: #6630FF;


}

.background{
	 background-repeat: no-repeat;
	background-position: 90% 20%;
	background-size: contain;
	 
}

.button {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #feec44;
	text-decoration: none;
	box-shadow: -10px 10px 10px rgba(0,0,0,0.1);
	color: #6630FF;
	 border: 1px solid #feec44;
	transition-duration: 0.5s;
	

}

.button:hover{
	background-color: #6630FF;
	color: #feec44;
	border: 1px solid #feec44;
	transition-duration: 0.5s;
}

.second_button {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color:  none;
	text-decoration: none;
	box-shadow: -10px 10px 10px rgba(0,0,0,0.1);
	color: #feec44;
	 border: 1px solid #feec44;
	transition-duration: 0.5s;
	margin-left: 10px;

}
.second_button:hover{
	background-color: #feec44;
	color: #6630FF;
	border: 1px solid #6630FF;
	transition-duration: 0.5s;
}

.btn_container{
	margin-top: 25px;
	
}
.flex-btn{
	display: flex;
	flex-direction: row;
	position: relative;
	z-index: 3;
}

.teaser_para {
	
	font-size: 30px;
	color: #feec44;
	margin-top: 10px;
	margin-bottom: 0px;
}


.product_para {

	font-size: 30px;
	color: #feec44;
	margin-top: 10px;
	margin-bottom: 0px;
	width: 70%;
}


.side-navi{
	position: absolute;
	z-index: 2;
	list-style: none;
	transform-origin: center;
	top: 50%;
	transform: translate(50%, -50%);
	opacity: 0;
	transition: 1s;
	cursor: default;
	pointer-events: none;
}

.side-navi.opacity-nav{
	opacity: 1;
	transition: 1s;
	cursor:alias;
	pointer-events:all;
}

.navi-test{
	width: 40px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	transform-origin: center;
	transform: scale(1);
	transition: .3s;
	
}

.navi-test:hover{
	transform: scale(1.7);
	transition: .3s;
	
}
.nav1{
	transform: scale(1);
	transition: .3s;
	
}
.nav1.activ-nav, .nav2.activ-nav, .nav3.activ-nav, .nav4.activ-nav, .nav5.activ-nav, .nav6.activ-nav, .nav7.activ-nav {
	transform: scale(1.7);
	transition: .3s;
	
}



.flex-container{
	display: flex;
	flex-direction: row;
	height: 100%;
	position: relative;
	
}

.product-img-container img{
	height: 100%;
	width: auto;
	transform: translateX(-60%);
}
.product-img-container{
	display: flex;
	width: 30%;
}

.extra {
	position: absolute;
	top: 30%;
	background-color: #feec44;
	
	display: inline-flex;
	
	padding: 10px;
	transform: translate(140px, 30px);
}
.extra h3{
	margin: 0;
	margin-left: 10px;
	color: #6630FF;
	font-size: 20px
}
.fa-bolt{
	color: #6630FF;
	font-size: 20px
	
}
.flex-text{
	display: flex;
	flex-direction: column;
	     justify-content: center;
	width: 70%;
	
}

.text-padding-left{
	padding-left: 15%;
	transition-duration: 0.5s;
	position: relative;
	
	
}

.vertical-center{
	top: 50%;
	position: relative;
	transform-origin: center;
	transform: translate(0, -50%);
		transition-duration: 0.5s;
}

/*************Kontakt***************/
.kontakt-con{
	display: flex;
	flex-direction: row;
	text-align: center;
	
}
.kontakt-con h2{
	color: #6630FF;
}
.instagram-con{
	width: 50%;
}
.instagram-con img{
	transform: scale(0.7);
}

.adresse-con{
	width: 50%;
}

@media (max-width: 1550px){
	.vertical-center{
	top: 60%;
		transition-duration: 0.5s;
}

}

@media (max-width: 1024px){
	
	.side-navi{
		display: none;
	}
	
.text-padding-left{
	padding-left: 5%;
	transition-duration: 0.5s;
	padding-right: 5%;
}
	h2, h1 {
		font-size: 70px;
		transition-duration: 0.5s;
	}
	
	.product_para {
transition-duration: 0.5s;
	font-size: 20px;
}
	.flex-btn{

	flex-direction: row;
}
	
	.second_button{
		
		
		padding-left: 20px;
		padding-right: 20px;
		width: 200px;
		text-align: center;
		transition-duration: 0.5s;
		
		
	}
	.button{
		margin-left: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: 200px;
		text-align: center;
		transition-duration: 0.5s;
	
	}
	.logo img{
	width: 150px;
	transition-duration: 0.5s;
}
}
@media (max-width: 968px){
		.flex-btn{
	
	flex-direction: column;
}
	.second_button{
		margin-left: 0;
		margin-top: 10px;
		
}

@media (max-width: 686px){
		.flex-btn{
	
	flex-direction: row;
}
	
	.second_button{
		margin-left: 10px;
		margin-top: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: 200px;
		text-align: center;
		transition-duration: 0.5s;
		background-color: #feec44;
		color: #6630FF;
		border-color: #6630FF;
		
	}
	.button{
		margin-left: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: 200px;
		text-align: center;
		transition-duration: 0.5s;
		background-color: #6630FF;
		color: #feec44;
	}
	
	a{
		font-size: 15px;
	}
	
	
	
	
	.flex-container{
	
	flex-direction: column-reverse;
	
	
}
	
	
	.vertical-center{
	top: 75%;
		transition-duration: 0.5s;
}
	
	
	.flex-text{
		width: 100%;
		height: 50%;
	}
	
	.product-img-container{
		width: 100%;
		height: 50%;
	}
	.product-img-container img{
	height: 100%;
	width: auto;
	transform: translate(100%, 10%) scale(1.5);
	
}
	.product_para, .teaser_para, h1, h2{
		color: #6630FF;
		z-index: 3;
		position: relative;
		
	}
	h1, h2{
		font-size: 40px;
	}
	.polyoben, .polyunten{
		display: none;
	}
	.polyunten_resp{
		display: block;
	}
		
}

@media (max-width: 500px){
.product_para, .teaser_para {
transition-duration: 0.5s;
	font-size: 17px;
}
	.flex-btn{
	
	flex-direction: column;
}
	.second_button{
		margin-left: 0;
		margin-top: 10px;
		
}

}

@media (max-width: 400px){
.product_para, .teaser_para {
transition-duration: 0.5s;
	font-size: 13px;
}
	h1, h2,{
		font-size: 30px;
	}
	}

























